<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - Smart Crop Advisory</title>

<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-green-100 flex justify-center items-center h-screen">

<div class="bg-white p-10 rounded-xl shadow-xl w-96">

<h1 class="text-3xl font-bold text-center text-green-700 mb-8">
Smart Crop Advisory
</h1>

<form action="/dashboard" method="GET">

    <label class="font-semibold">Email</label>

    <input
    type="email"
    class="w-full border rounded-lg p-3 mt-2 mb-5"
    placeholder="Enter Email"
    required>

    <label class="font-semibold">Password</label>

    <input
    type="password"
    class="w-full border rounded-lg p-3 mt-2 mb-6"
    placeholder="Enter Password"
    required>

    <button
    type="submit"
    class="w-full bg-green-600 text-white py-3 rounded-lg hover:bg-green-700">

        Login

    </button>

</form>

<p class="text-center mt-5 text-gray-500">
Smart Crop Advisory System
</p>

</div>

</body>
</html>
